.container{
  max-width: 940px;
  width: 90.34%;
  margin-left: auto;
  margin-right: auto;
}

/* 
    Menu
*/
.menu{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 
    Hello
*/
.presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32rem;
  width: 16rem;
}

/* 
    Card About
*/

.card-about{
  position: relative;
  width: 100%;
  height: 20.75rem;
  background-color: #111;
}
.nice-to--text{
  position: absolute;
  top: var(--spacing-xsmall);

}
.about-me--text{
  position: absolute;
  color: var(--color-gray);
  bottom: var(--spacing-xsmall);
}
.icon-arrow{
  margin-left: var(--spacing-xxsmall);
}







































.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
  }
  .storybook-button--primary {
    color: white;
    background-color: #1ea7fd;
  }
  .storybook-button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  .storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  .storybook-button--medium {
    font-size: 14px;
    padding: 11px var(--spacing-small);
  }
  .storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
  }
  