.container{
  max-width: 940px;
  width: 90.34%;
  margin-left: auto;
  margin-right: auto;
}

/* 
    Menu
*/
.menu{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon-menu{
  cursor: pointer;
}

/* 
    Hello
*/
.presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32rem;
  width: 16rem;
}
.social{
  transition: fill 0.3s ease;

}
.social:hover{
  fill: var(--color-primary);
}

/* 
    Card About
*/

.card-about{
  position: relative;
  width: 100%;
  height: 20.75rem;
  background-color: #111;
  border-radius: 0.25rem;
}
.nice-to--text{
  position: absolute;
  top: var(--spacing-xsmall);
}
.about-me--text{
  position: absolute;
  color: var(--color-gray);
  bottom: var(--spacing-xsmall);
  cursor: pointer;
}
.about-me--text svg{
  transition: all 0.2s linear;
}
.about-me--text h2{
  transition: color 0.2s linear;
}
.about-me--text:hover, .about-me--text:hover .icon-arrow{
  fill: #a7a7a7;
  color: #a7a7a7;
}
.about-me--text:hover .icon-arrow{
  margin-left: 0.825rem;
}
.icon-arrow{
  margin-left: 0.525rem;
}

/* 
    Works
*/
.works{
  display: flex;
  height: 50rem;
  background-color: var(--color-secondary-dark);
  margin-top: 60px;
}
.works h1{
  text-align: center;
  color: var(--color-white);
  margin-top: var(--spacing-xxlarge);
}